In [20]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()

In [4]:
df= pd.read_csv('Student_Performance.csv')
df[:5]

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [21]:
y=df.iloc[:,-1]
x=df.iloc[:,0:5]
label = lc.fit_transform(df['Extracurricular Activities'])
x.drop('Extracurricular Activities',axis=1,inplace=True)
x['Extracurricular Activities']=list(label)
x[:5]

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Extracurricular Activities
0,7,99,9,1,1
1,4,82,4,2,0
2,8,51,7,2,1
3,5,52,5,2,1
4,7,75,8,5,0